<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="ALL " />
      <appender-ref ref="MyAppender" />
      <appender-ref ref="MyFileAppender" />
    </root>
    <appender name="MyAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="MyFileAppender" type="log4net.Appender.FileAppender">
      <file value="PushStartupSkypebot.log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="companyName" value="http://pushstartups.com"/>

    <add key="skypeuserFile" value=".\log\SkypeUserList.csv"/>
    <add key="ReportFolder" value="\Reports"/>
    <add key="MessagesFolder" value="\Messages"/>
    <add key="ActiveMessageTemplate" value=".\log\MessageTemplate.csv"/>

    <add key="SearchLog" value="Searchlog.csv"/>
    <add key=" tabPageMain" value="Main"/>
    <add key="tabPageReports" value="Reports"/>
    <add key="tabPageSkypeUsers" value="Skype Users"/>
    <add key="Reports" value="New User Report;Full User Report;User Message Report;" />
    <add key="DefaultMessage" value="Default Message"/>
    <add key="AutoReplyMessage" value="This is a auto Reply Message"/>
    <add key="skypeusercsvheader" value="Sl#,UserName,Password,Active"/>
    <add key="MessageTemplatecsvheader" value="Sl#,Contact Messages,Auto Replies,Active"/>
    <add key="AddContactcommand" value="USER {0} BUDDYSTATUS 2"/>
    <add key="Reportlogxml" value=".\log\Reportlog.xml"/>
    <add key="TableCampaignReport" value="tableCampaignReport"/>
      <add key="CampaignReportheader" value="User Handle,Message  Send,TimeStamp"/>
  </appSettings>

  <connectionStrings>
    <add name="ExcelConnectionString" connectionString="Data Source=.\\DB.xlsx;Initial Catalog=CharityManagement;Integrated Security=True"/>
  </connectionStrings>
</configuration>
